{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="class="input-group flex-nowrap"">

    <div class="row">
        <h1>Import Mercurial</h1>
    </div>

    <div class="v-spacer"></div>

    <div class="row g-3">
    {{ form_start(formImport) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(formImport) }}
        </div>

        <div class="row">
            <div class="input-group col-auto">
                {{ form_label(formImport.importFile, 'Sélectionnez un Fichier import', {'label_attr': {'class': 'form-label', 'for': 'formFile' }}) }}
                {{ form_widget(formImport.importFile, {'attr': {'class': 'form-control', 'id' : 'formFile'}}) }}
            </div>
            <div class="v-spacer"></div>
            <div class="input-group col-auto">

                {{ form_label(formImport.suppliers, '', {'label_attr': {'class': 'form-label', 'for': 'formFile' }}) }}
                {{ form_widget(formImport.suppliers, {'attr': {'class': 'form-select', 'aria-label' : 'Default select example'}}) }}
            </div>
        </div>
        <div class="v-spacer"></div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Lancer L'import</button>
        </div>
    {{ form_end(formImport) }}
    </div>


</div>
{% endblock %}
